<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.ssm.dao.UserDao">
    <insert id="insertUser" parameterType="com.sf.ssm.entity.User">
        insert ignore  into USER (account,avatar,pay_money,country,score,latitude,longitude,province,sex,password)
        VALUES (#{account},#{avatar},#{payMoney},#{country},#{score},#{latitude},#{longitude},#{province},#{sex},#{password})
    </insert>
    <select id="queryAll" resultType="com.sf.ssm.entity.User">
        SELECT
              *
        FROM
            user
    </select>
    <delete id="deleteUser" parameterType="long">
        DELETE FROM user WHERE id=#{id}
    </delete>
    <select id="queryById" parameterType="long" resultType="com.sf.ssm.entity.User">
        SELECT
              *
        FROM
            USER
        WHERE
            id=#{id}
    </select>
    <update id="updateScore" >
        UPDATE
            USER
        SET
            score = score +#{scoreCount}
        WHERE
            id = #{id}
    </update>
    <select id="queryTopN" resultType="com.sf.ssm.entity.User">
        SELECT
            *
        FROM
            USER
        ORDER BY
            score
        DESC
          LIMIT 20
    </select>

    <select id="findUserByProvince" resultType="com.sf.ssm.entity.User">
        SELECT
        *
        FROM
          USER
        WHERE 1=1
        <if test="province != null and province !=''">
            AND province LIKE concat(concat('%',#{province}),'%')
        </if>
    </select>
</mapper>